<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>MediTrack</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddMedicine</display-name>
    <servlet-name>AddMedicine</servlet-name>
    <servlet-class>AddMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMedicine</servlet-name>
    <url-pattern>/AddMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMedicine</display-name>
    <servlet-name>DeleteMedicine</servlet-name>
    <servlet-class>DeleteMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMedicine</servlet-name>
    <url-pattern>/DeleteMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMedicine</display-name>
    <servlet-name>UpdateMedicine</servlet-name>
    <servlet-class>UpdateMedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMedicine</servlet-name>
    <url-pattern>/UpdateMedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteButton</display-name>
    <servlet-name>DeleteButton</servlet-name>
    <servlet-class>DeleteButton</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteButton</servlet-name>
    <url-pattern>/DeleteButton</url-pattern>
  </servlet-mapping>
</web-app>